include support/head

body.fihopa-page

  include blocks/intro

  include blocks/how-it-works

  include blocks/meet-partner

  include blocks/activity-areas

  include blocks/search-partner

  include blocks/footer
