.activity-areas {
  margin-bottom: 40px;

  &__container {
    @include flex();
  }

  &__item {
    width: 100%;
    max-width: 300px;
    min-height: 120px;
    margin: 0 auto 10px;

    @include flex(center, center);

    @include respond-to-min($tablet) {
      flex-basis: 238px;
      min-height: 300px;
      border-radius: 2px;
    }

    &_sports {
      background: url("../img/activity-areas/1.png");

      @include respond-to-min($tablet) {
        background: url("../img/activity-areas/1-tablet.png");
      }
    }

    &_health {
      background: url("../img/activity-areas/2.png");

      @include respond-to-min($tablet) {
        background: url("../img/activity-areas/2-tablet.png");
      }
    }

    &_sports-extreme {
      background: url("../img/activity-areas/3.png");

      @include respond-to-min($tablet) {
        background: url("../img/activity-areas/3-tablet.png");
      }
    }

    &_games {
      background: url("../img/activity-areas/4.png");

      @include respond-to-min($tablet) {
        background: url("../img/activity-areas/4-tablet.png");
        //flex-grow: 1;
      }
    }

    &_culture {
      background: url("../img/activity-areas/5.png");

      @include respond-to-min($tablet) {
        background: url("../img/activity-areas/5-tablet.png");
        //flex-grow: 2;
        flex-basis: 400px;
      }
    }

    &_relaxation {
      background: url("../img/activity-areas/6.png");

      @include respond-to-min($tablet) {
        background: url("../img/activity-areas/6-tablet.png");
      }
    }

    &_travel {
      background: url("../img/activity-areas/7.png");

      @include respond-to-min($tablet) {
        background: url("../img/activity-areas/7-tablet.png");
      }
    }
  }

  &__item-name {
    @include font(22px, 1, 700, $fontMontserrat);

    color: white;
    text-align: center;
  }
}
