.intro {
  min-height: 540px;
  background: url("../img/intro-bg-mob-s.png");
  background-position: 50% 50%;
  background-size: cover;
  padding-top: 20px;
  margin-bottom: 40px;

  @include respond-to-min($tablet) {
    background-image: url("../img/intro-bg-tablet.png");
    min-height: 700px;
    margin-bottom: 100px;
  }

  @include respond-to-min($desktop) {
    background: url("../img/intro-bg-desktop.png") no-repeat;
    max-width: 1440px;
    margin: 0 auto 100px;
  }

  &__header {
    @include respond-to-min($tablet) {
      @include flex(space-between, baseline);

      flex-direction: row-reverse;
      margin-bottom: 160px;
    }
  }

  &__enter-btns {
    max-width: 190px;
    margin: 0 auto 120px;
    color: $white;

    @include respond-to-min($tablet) {
      margin: 0 50px 0 0;
    }

    @include respond-to-min($desktop) {
      margin: 0;
    }
  }

  &__logo {
    @include font(20px, 1, 700, $fontMontserrat);

    text-transform: uppercase;
    color: $white;
    text-align: center;
    margin-bottom: 35px;

    @include respond-to-min($tablet) {
      margin-left: 50px;
    }

    @include respond-to-min($desktop) {
      margin-left: 0;
    }
  }

  &__title {
    text-transform: uppercase;
    color: $white;
    text-align: center;
    max-width: 300px;
    width: 100%;
    margin: 0 auto 25px;

    @include font(30px, 1, 700, $fontMontserrat);

    @include respond-to-min($tablet) {
      font-size: 50px;
      max-width: 590px;
    }

    @include respond-to-min($desktop) {
      font-size: 52px;
    }
  }

  &__sub-title {
    @include font(18px, 1, 300, $fontRoboto);

    color: $white;
    text-align: center;
    max-width: 220px;
    margin: 0 auto 20px;

    @include respond-to-min($tablet) {
      font-size: 24px;
      max-width: 590px;
      margin-bottom: 40px;
    }
  }
}
