.meet-partner {
  padding-bottom: 40px;

  @include respond-to-min($tablet) {
    padding-bottom: 100px;
  }

  &__container {
    @include respond-to-min($tablet) {
      @include flex(space-between, flex-start, wrap, column);

      max-width: 480px;
      max-height: 620px;
      width: 100%;
      margin: 0 auto;
    }
  }
}

.participant {
  max-width: 260px;
  margin: 0 auto 30px;

  @include respond-to-min($tablet) {
    max-width: 220px;
    margin: 0 0 60px 0;
  }

  &__title {
    @include font(14px, 1, 700, $fontMontserrat);

    text-align: center;
    margin-bottom: 10px;
  }

  &__avatar {
    position: relative;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    margin: 0 auto 20px;

    &-1 {
      background: url("../img/users/user1.png");
    }

    &-2 {
      background: url("../img/users/user2.png");
    }

    &-3 {
      background: url("../img/users/user3.png");
    }

    &-4 {
      background: url("../img/users/user4.png");
    }
  }

  &__icon {
    position: absolute;
    right: -5px;
    bottom: -5px;
  }

  &__description {
    @include font(14px, 1, 300, $fontRoboto);

    color: #666666;
    text-align: center;
  }
}