.search-partner {
  padding-bottom: 40px;

  &__title {
    @include font(18px, 1, 300, $fontRoboto);

    text-align: center;
    margin-bottom: 20px;
  }

  &__input-container {
    @include respond-to-min($desktop) {
      @include flex(space-between);

      max-width: 440px;
      margin: 0 auto;
    }
  }

  &__interest-input {
    color: #cccccc;
    border: 1px solid #cccccc;
    border-radius: 3px;
    width: 100%;
    max-width: 280px;
    margin: 0 auto 10px;
    padding-left: 15px;
    display: block;

    @include font(14px, 35px, 300, $fontRoboto);

    @include respond-to-min($desktop) {
      margin: 0 0 10px 0;
      max-width: 240px;
    }
  }
}