$tablet: 768px;
$desktop: 1200px;

$white: white;
$black: black;

$btnsColor: #ff4e50;

$font-base: 'Arial', 'Helevtica', sans-serif;
$fontRoboto: 'Roboto', sans-serif;
$fontMontserrat: 'Montserrat', sans-serif;
$fontMyriadPro: 'Myriad pro', sans-serif;