footer.footer
  .container.footer__container
    h2.footer__logo dreamshare
    .footer__section
      .footer__section-title Company
      nav.footer__links
        a(href="#" target="_blank").footer__link About
        a(href="#" target="_blank").footer__link Contacts
        a(href="#" target="_blank").footer__link Press
        a(href="#" target="_blank").footer__link Blog
    .footer__section
      .footer__section-title Partners
    .footer__designed-by
      .footer__designed-by-title Designed By
      img(src="img/designed-by.png").footer__designed-by-logo

