section.intro
  header.intro__header
    .intro__enter-btns
      a.enter-btn Log in
      a.enter-btn.enter-btn--sign-up Sign up
    .intro__logo dreamshare
  h1.intro__title share your holiday dreams
  .intro__sub-title And find the perfect partner to fullfill it
  a.btn.btn--search-partner Find your holiday partner