section.intro
  .container
    header.intro__header
      .intro__enter-btns
        a.btn.btn--login Log in
        a.btn.btn--signup Sign up
      .intro__logo dreamshare
    h1.intro__title share your holiday dreams
    .intro__sub-title And find the perfect partner to fullfill it
    a.btn.btn--red-bg-white-color Find your holiday partner