section.search-partner.section.container
  h2.section__title Discover holiday activity ideas
  form.search-partner__form
    h3.search-partner__title Hi! What are your holiday interests?
    .search-partner__input-container
      input(type="text" placeholder="Enter your interests").search-partner__interest-input
      a.btn.btn--red-bg-white-color.btn--search-partner Search partner