section.search-partner.section
  h2.section__title Discover holiday activity ideas
  form.search-partner__form
    h3.search-partner__title Hi! What are your holiday interests?
    input(type="text" placeholder="Enter your interests").search-partner__interest-input
    a.btn.btn--search-partner Search partner